// インナー
.l-inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $l-inner + strip-unit($padding-pc) * 2;
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  @include mq(md) {
    //   max-width: rem(540);
    max-width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
